################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AsyncAcademy/FileContentIndex
/.vs
/bin/Debug
/obj/Debug
obj/AsyncAcademy.csproj.nuget.dgspec.json
obj/AsyncAcademy.csproj.nuget.dgspec.json
obj/project.nuget.cache
obj/project.assets.json
obj/Debug/net8.0/AsyncAcademy.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/AsyncAcademy.csproj.AssemblyReference.cache
obj/Debug/net8.0/AsyncAcademy.assets.cache
obj/Debug/net8.0/AsyncAcademy.AssemblyInfoInputs.cache
obj/Debug/net8.0/AsyncAcademy.AssemblyInfo.cs
obj/AsyncAcademy.csproj.nuget.g.props
