@page
@model AsyncAcademy.Pages.Section_Page.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Section</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Section.SectionId" />
            <div class="form-group">
                <label asp-for="Section.StartTime" class="control-label"></label>
                <input asp-for="Section.StartTime" class="form-control" />
                <span asp-validation-for="Section.StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Section.EndTime" class="control-label"></label>
                <input asp-for="Section.EndTime" class="form-control" />
                <span asp-validation-for="Section.EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Section.Location" class="control-label"></label>
                <input asp-for="Section.Location" class="form-control" />
                <span asp-validation-for="Section.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Section.StudentCapacity" class="control-label"></label>
                <input asp-for="Section.StudentCapacity" class="form-control" />
                <span asp-validation-for="Section.StudentCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Section.StudentsEnrolled" class="control-label"></label>
                <input asp-for="Section.StudentsEnrolled" class="form-control" />
                <span asp-validation-for="Section.StudentsEnrolled" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Section.MeetingTimeInfo" class="control-label"></label>
                <input asp-for="Section.MeetingTimeInfo" class="form-control" />
                <span asp-validation-for="Section.MeetingTimeInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Section.StartDate" class="control-label"></label>
                <input asp-for="Section.StartDate" class="form-control" />
                <span asp-validation-for="Section.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Section.EndDate" class="control-label"></label>
                <input asp-for="Section.EndDate" class="form-control" />
                <span asp-validation-for="Section.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
