@page
@model AsyncAcademy.Pages.Course_Pages.EditModel

@{
    ViewData["Title"] = "Edit";
}

<head>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>

<body>
<h1>Edit</h1>

<h4>Course</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Course.Id" />
            <div class="form-group">
                <label asp-for="Course.CourseNumber" class="control-label"></label>
                <input asp-for="Course.CourseNumber" class="form-control" />
                <span asp-validation-for="Course.CourseNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.Department" class="control-label"></label>
                <input asp-for="Course.Department" class="form-control" />
                <span asp-validation-for="Course.Department" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.Name" class="control-label"></label>
                <input asp-for="Course.Name" class="form-control" />
                <span asp-validation-for="Course.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.Description" class="control-label"></label>
                <input asp-for="Course.Description" class="form-control" />
                <span asp-validation-for="Course.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.CreditHours" class="control-label"></label>
                <input asp-for="Course.CreditHours" class="form-control" />
                <span asp-validation-for="Course.CreditHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.InstructorId" class="control-label"></label>
                <input asp-for="Course.InstructorId" class="form-control" />
                <span asp-validation-for="Course.InstructorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.StartTime" class="control-label"></label>
                <input asp-for="Course.StartTime" class="form-control" />
                <span asp-validation-for="Course.StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.EndTime" class="control-label"></label>
                <input asp-for="Course.EndTime" class="form-control" />
                <span asp-validation-for="Course.EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.Location" class="control-label"></label>
                <input asp-for="Course.Location" class="form-control" />
                <span asp-validation-for="Course.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.StudentCapacity" class="control-label"></label>
                <input asp-for="Course.StudentCapacity" class="form-control" />
                <span asp-validation-for="Course.StudentCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.StudentsEnrolled" class="control-label"></label>
                <input asp-for="Course.StudentsEnrolled" class="form-control" />
                <span asp-validation-for="Course.StudentsEnrolled" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.MeetingTimeInfo" class="control-label"></label>
                <input asp-for="Course.MeetingTimeInfo" class="form-control" />
                <span asp-validation-for="Course.MeetingTimeInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.StartDate" class="control-label"></label>
                <input asp-for="Course.StartDate" class="form-control" />
                <span asp-validation-for="Course.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.EndDate" class="control-label"></label>
                <input asp-for="Course.EndDate" class="form-control" />
                <span asp-validation-for="Course.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="StudentIndex">Back to List</a>
</div>
</body>

<style>
    body {
        background-color: #dcdedc;
        font-family: 'Ubuntu', sans-serif;
    }
</style>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
