@page
@model AsyncAcademy.Pages.AccountModel

@{
    ViewData["Title"] = "Account";
    int? currentUserId = Model.currentUserID;
}

<head>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>

<body>

<h1>Student Account</h1>

<hr />

<div class="row">

    <div class="col-md-6">
        <h3>Student owes: <b> @Model.StudentPaymentBalance.ToString("C")</b> </h3>

        <div class="col-md-6">
        <form id="payment-form" class="form-inline">
            <label for="amount" class="mr-2">Amount to pay:</label>
            <input id="amount" class="form-control" type="number" name="amount" placeholder="Enter amount" required>
        </form>
    </div>

    </div>

    <div class="col-md-4">

        <h3>Enrolled Courses: </h3>
        <ul>
            @foreach (var course in Model.EnrolledCourses)
            {
                <li>@course.Name (@course.CreditHours credit hours. )</li>
            }
        </ul>


    </div>

</div>

<div class="row">
    <div class="col-md-6">
        <button class="btn-primary" id="checkout-button" onclick="checkOutFunction()">Pay</button>
    </div>
    

</div>
</body>

<style>
    body {
        background-color: #dcdedc;
        font-family: 'Ubuntu', sans-serif;
    }
</style>

<script src="https://js.stripe.com/v3/"></script>

<script>
    var stripe = Stripe('pk_test_51Q2OkdLffhLXA6EXWISMXQO7nE1GUAdjKHkH46gVUhacOfXJdvr4BhCnilNcXKKR8eOUwoslw6N0FFse8bZht74H00UvsQFF0a');  // Punlic key 

    const checkOutFunction = () => {

        const amount = document.getElementById("amount").value;

        fetch('/create-checkout-session', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ amount: amount })  // Sending the amount to the backend
        })

            .then(function (response) {
                return response.json();

            })
            .then(function (session) {
                return stripe.redirectToCheckout({ sessionId: session.id });
            })
            .then(function (result) {
                console.log(result);
                if (result.error) {
                    alert(result.error.message);
                }
            });
    };
</script>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
