@page
@model AsyncAcademy.Pages.Assignments.SubmitFileModel
@{
    ViewData["Title"] = "Submit Assignment";
}

<h1>Submit Assignment: @Model.Assignment.Title</h1>

<form method="post" enctype="multipart/form-data">
    <input type="file" asp-for="FileSubmission" />
    <input type="submit" />
</form>

<a href="#" onclick="history.back()" style="color:blue">Back to List</a>


