@page
@model AsyncAcademy.Pages.Assignments.SubmissionDetailsModel
@{
}

<h1>Submission for @Model.Assignment.Title</h1>
<br/>
<h2>Submitted at @Model.Submission.Timestamp</h2>
<br/>
@Model.Submission.Content

